@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.background img {
    width: 100%;
    height: max-content;
    position: absolute;
    z-index: -1;
    top: 0;
}
section {
    opacity: 80%;
}
#show {
    display: none;
    color: #222;
    font-weight: bolder;
    background-color: antiquewhite;
    padding: 30px;
    list-style-type: decimal;
}
