@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(/img/);
    background-size: cover;
}
.groceries {
    background-image: url(/img/supermarket-background-with-food-icons-vector-31638466.jpg);
    background-size: cover;
}
section {
    opacity: 80%;
}
#show {
    display: none;
    color: white;
    background-color: blue;
    padding: 30px;
    list-style-type: decimal;
}
